.users-container {
  margin: 30px;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(135deg, #595cff);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: #333;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-box {
  width: 65%;
  padding: 12px;
  border: 2px solid #007BFF;
  border-radius: 6px;
  font-size: 1rem;
}

.export-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 52px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.export-btn:hover {
  background-color: #218838;
}

.exotic-table {
  border: 2px solid #343a40;
}

.btn-sm {
  margin-right: 8px; /* Add some spacing */
}

.table-hover tbody tr:hover {
  background-color: #c3f4d4;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex; justify-content: center; align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

