.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #673ab7, #3f51b5);
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    font-family: 'Monoton', cursive;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
  }
  .navbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s ease;
  }
  .navbar-links a:hover {
    color: #ffd700;
  }
  .logout {
    cursor: pointer;
  }
  .active {
    text-decoration: underline;
  }
  